// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel panel-default {
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  margin-right: 20px;
}
