// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel panel-default {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  .float-r {
    float: right;
  }
}

.form-control {
  margin-right: 10px;
}

.field_with_errors{
  .form-control {
  display: inline-block;
  border: 1px solid #f00;
  width: 100%;
  }
}